#box{
	width: 600px;
	background: grey;
	color: white;
	margin: 0px auto;
	text-align: center;
	padding: 10px;
	}
	label{
		display: block;
	}

	 #result {
	 	width: 600px;
	 	margin: 0px auto;
	text-align: center;
	padding: 10px;
	 }